html, body {
    font-family: 'Redcollar', sans-serif;
    height: 100%;
    background-color: white;
}

section {
    display: grid;
    grid-template-rows: 70px auto 100px;
    justify-self: center;

}

.title-box {
    display: grid;
    justify-items: end;
}

.title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 15px;
    font-weight: 1200;
    color: #0005;
    margin-right: 1.5rem;
}

#internal {
    display: grid;
    justify-self: center;

}

.state-box {
    display: grid;
    justify-self: center;
    align-items: end;

}

.state {
    color: #5b5a5a;
    font-size: 5em;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    gap: 10rem;
}

#clockDisplay {
    text-align: center;
    border-radius: 15px;
    font-size: 10rem;
    color: #5b5a5a;
    margin: 5rem 1rem 1rem 1rem;
}

.btn {
    height: 40px;
    width: 40px;
    border-radius: 25px;
    background: #e0e5ec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    box-shadow: -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
    transition: box-shadow 0.6s cubic-bezier(.79, .21, .06, .81);
    font-size: 26px;
    color: #666;
    text-decoration: none;
    border: none;
}

.btn:active {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

.button-container {
    display: grid;
    grid-template-columns: 60px 60px 60px;
}

.display {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 50px;
}

.start-btn-container {
    display: grid;
    justify-self: center;
    margin-top: 2rem;
}

.start-btn {
    height: 60px;
    width: 120px;
    border-radius: 25px;
    background: #e0e5ec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    box-shadow: -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
    transition: box-shadow 0.6s cubic-bezier(.79, .21, .06, .81);
    font-size: 26px;
    color: #666;
    text-decoration: none;
    border: none;
}

.start-btn:active {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}


.start-btn:hover {
    background: radial-gradient(circle, #0ff 0%, #e0e5ec 60%);
    color: rgba(102, 102, 102, .5);
    animation: colorchange 3s linear infinite;
}

@keyframes colorchange {
    to {
        filter: hue-rotate(360deg);
    }
}

.counter-container {
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    justify-self: center;
    /*gap: 17rem;*/
    margin-top: 2rem;
    color: #5b5a5a;

}
